* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: auto;
} */


.container {
    width: 80%;
    overflow-x: scroll;
border: 2px solid
 black;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.block {
    width: 300px;
    border: 2px solid black;
margin: auto;
text-align: center;
}


h3 {
    text-align: center;
    margin: 20px 0;
}

.container1 {
    width: 80%;
    overflow-x: scroll;
border: 2px solid
 black;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}




.container2 {
    width: 80%;
    overflow-x: scroll;
border: 2px solid
 black;
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}









